<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */
?>
<?php
    $_attribute    = $this->getCurrentAttribute();
    $_helper    = $this->helper('catalog/output');
?>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<div class="page-title category-title">
    <h1>
        <?php echo $_attribute->getData('frontend_label') ?>: 
        <?php echo $_attribute->getData('value') ?>
    </h1>
</div>

<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>

<script>
    jQuery(document).ready(function() {
        var elm = jQuery('div.category-products');
        if(elm.length && elm.parent().hasClass('std')) {
            elm.parent().removeClass('std');
        }
    });
</script>