<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_collectionSize = $_productCollection->count();
$HasC = Mage::app()->getFrontController()->getRequest()->getControllerName();
?>
<?php if (!$_collectionSize): ?>
    <div class="category-products"><p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p></div>
<?php else: ?>
    <div class="category-products">
        <div class="toolbar-top"><?php echo $this->getToolbarHtml() ?></div>
	<?php // List mode ?>
	<?php if ($this->getMode() != 'grid'): ?>
	    <?php
	    $_iterator = 0;
	    // List Mode            
	    $_wImgList = 280;
	    $_hImgList = 280;
	    if (Mage::helper('themeframework/settings')->getProductsList_ImageRatio() != 0) {
		$_ratioImgList = Mage::helper('themeframework/settings')->getProductsList_ImageRatio();
		if ($_ratioImgList != '-1') {
		    $_hImgList = $_wImgList / $_ratioImgList;
		} else {
		    $_hImgList = ($_wImgList * Mage::helper('themeframework/settings')->getProductsList_CustomHeight()) / Mage::helper('themeframework/settings')->getProductsList_CustomWidth();
		}
	    }

	    $altImgList = Mage::helper('themeframework/settings')->getProductsList_AltImg();
	    $gutterList = Mage::helper('themeframework/settings')->getProductsList_Gutter();
	    ?>
	    <ol class="products-list" id="products-list">
		<?php foreach ($_productCollection as $_product): ?>
	    	<li class="item<?php if (++$_iterator == sizeof($_productCollection)): ?> last<?php endif; ?>" <?php if ($gutterList): ?>style="margin-bottom: <?php echo $gutterList; ?>px"<?php endif; ?>>
	    	    <!-- Show Thumbnail -->
			<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowThumbnail()): ?>
			    <?php // Product Image ?>
			    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image loading-process">
				<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowLabel()): ?>
		    		<!--show label product - label extension is required-->
				    <?php Mage::helper('productlabels')->display($_product); ?>
				<?php endif ?>
				<?php if ($altImgList): ?>
		    		<img class="em-img-lazy img-responsive em-alt-hover" src="<?php echo $this->getSkinUrl('images/loading.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, $altImgList)->resize($_wImgList, $_hImgList); ?>" width="<?php echo $_wImgList ?>" height="<?php echo $_hImgList ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, $altImgList), null, true) ?>" />
				<?php endif; ?>
				<img id="product-collection-image-<?php echo $_product->getId(); ?>" class="em-img-lazy img-responsive <?php if ($altImgList): ?>em-alt-org<?php endif ?>" src="<?php echo $this->getSkinUrl('images/loading.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_wImgList, $_hImgList); ?>" width="<?php echo $_wImgList ?>" height="<?php echo $_hImgList ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
			    </a>
			<?php else: ?>
			    <?php if (Mage::helper('themeframework/settings')->getProductsList_ShowLabel()): ?>
		    	    <!--show label product - label extension is required-->
				<?php Mage::helper('productlabels')->display($_product); ?></a>
			    <?php endif ?>            
			<?php endif ?>


			<?php // Product description ?>
	    	    <div class="product-shop">
	    		<div itemscope itemtype="http://schema.org/Product" class="f-fix">
				<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
	    		    <!--product name-->
				<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowProductName()): ?>
				    <h2 itemprop="name" class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">
					    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
					</a></h2>
				    <?php
				    // Provides extra blocks on which to hang some features for products in the list
				    // Features providing UI elements targeting this block will display directly below the product name
				    if ($this->getChild('name.after')) {
					$_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
					foreach ($_nameAfterChildren as $_nameAfterChildName) {
					    $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
					    $_nameAfterChild->setProduct($_product);
					    echo $_nameAfterChild->toHtml();
					}
				    }
				    ?>
				<?php endif ?>  

	    		    <!--product description-->
				<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowDesc()): ?>
				    <div class="desc std">
					<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
				    </div> 
				<?php endif ?> 
	    		    <!--show reviews-->
				<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowReviews()): ?>
				    <?php if ($_product->getRatingSummary()): ?>
					<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
				    <?php endif; ?>
				<?php endif ?>

	    		    <!--product price-->
				<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowPrice()): ?>
				    <?php echo $this->getPriceHtml($_product, true) ?>
				<?php endif ?>

	    		    <div class="actions">
				    <?php if ($_product->isSaleable()): ?>
					<!--show button add to cart-->
					<?php if (Mage::helper('themeframework/settings')->getProductsList_ShowAddtocart()): ?>
		    			<button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
					<?php endif ?>
				    <?php else: ?>
						<?php $currentCatIds = $_product->getCategoryIds(); ?>
							<?php if (in_array(1840, $currentCatIds)): ?>
							<p class="availability out-of-stock"><span><?php echo $this->helper('catalog')->__('Coming Soon, Please Join the Waitlist Below') ?></span></p>
					    <?php else: ?>
					    	<p class="availability out-of-stock"><span><?php echo $this->__('Sold Out') ?></span></p>
					    <?php endif ?>
				    <?php endif; ?>

	    			<!--show button add to compare-wishlist-->
				    <?php if (Mage::helper('themeframework/settings')->getProductsList_ShowAddto()): ?> 
					<ul class="add-to-links">
					    <?php if ($this->helper('wishlist')->isAllow()) : ?>
		    			    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
					    <?php endif; ?>
					    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
		    			    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
					    <?php endif; ?>
					</ul>
				    <?php endif ?>
	    		    </div>
	    		</div>
	    	    </div>
	    	</li>
		<?php endforeach; ?>
	    </ol>
	    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

	<?php else: ?>

	    <?php // Grid Mode ?>
	    <?php
	    // set column count    
	    $_pageLayout = substr((str_replace(array('page/', '.phtml'), '', Mage::app()->getLayout()->getBlock('root')->getTemplate())), 0, 1);

	    // Grid Mode            
	    $_wImgGrid = 400;
	    $_hImgGrid = 400;
	    if (Mage::helper('themeframework/settings')->getProductsGrid_ImageRatio() != 0) {
		$_ratioImgGrid = Mage::helper('themeframework/settings')->getProductsGrid_ImageRatio();
		if (Mage::helper('themeframework/settings')->getGeneral_DisableResponsive(1) != 0) {
		    switch (Mage::helper('themeframework/settings')->checkDevice()) {
			case 'desktop':
			    switch ($_pageLayout) {
				case 3:
				    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_Threecolumns(3);
				    break;
				case 1:
				    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_Onecolumn(5);
				    break;
				default:
				    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_Twocolumns(4);
				    break;
			    }
			    $_winWidth = 2400;
			    break;
			case 'tablet':
			    switch ($_pageLayout) {
				case 3:
				    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_TabletThreecolumns(3);
				    break;
				case 1:
				    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_TabletOnecolumn(5);
				    break;
				default:
				    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_TabletTwocolumns(4);
				    break;
			    }
			    $_winWidth = 1024;
			    break;
			case 'mobile':
			    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_ItemsMobile(3);
			    $_winWidth = 320;
			    break;
		    }
		} else {
		    switch ($_pageLayout) {
			case 3:
			    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_Threecolumns(3);
			    break;
			case 1:
			    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_Onecolumn(5);
			    break;
			default:
			    $_columnCount = Mage::helper('themeframework/settings')->getProductsGrid_Twocolumns(4);
			    break;
		    }
		    $_winWidth = 1200;
		}
		switch ($_pageLayout) {
		    case 3:
			$_columnsContent = 12;
			break;
		    case 1:
			$_columnsContent = 24;
			break;
		    default:
			$_columnsContent = 18;
			break;
		}
		$_wImgGrid = (($_columnsContent / 24) * $_winWidth) / $_columnCount - 20;
		if ($_ratioImgGrid == -1) {
		    $_hImgGrid = ($_wImgGrid * Mage::helper('themeframework/settings')->getProductsGrid_CustomHeight()) / Mage::helper('themeframework/settings')->getProductsGrid_CustomWidth();
		} else {
		    $_hImgGrid = ($_wImgGrid / $_ratioImgGrid);
		}
	    }

	    if (Mage::helper('themeframework/settings')->checkDevice() == 'mobile') {
						$_wImgGrid = 250;
						$_hImgGrid = 250;
					}

	    $altImgGrid = Mage::helper('themeframework/settings')->getProductsGrid_AltImg();

	    // Hover Effect
	    switch (Mage::helper('themeframework/settings')->getProductsGrid_ConfigHover()) {
		case 'enable':
		    $_classHoverEffect = 'emcatalog-enable-hover';
		    break;
		case 'medium_desktop':
		    $_classHoverEffect = 'emcatalog-disable-hover-below-desktop';
		    break;
		case 'tablet':
		    $_classHoverEffect = 'emcatalog-disable-hover-below-tablet';
		    break;
		case 'mobile':
		    $_classHoverEffect = 'emcatalog-disable-hover-below-mobile';
		    break;
		default:
		    $_classHoverEffect = '';
		    break;
	    }

	    // Element Align Center
	    switch (Mage::helper('themeframework/settings')->getProductsGrid_AlignCenter()) {
		case 0:
		    $_classAlignCenter = '';
		    break;
		default:
		    $_classAlignCenter = 'text-center';
		    break;
	    }

	    // Product Name Single Line
	    switch (Mage::helper('themeframework/settings')->getProductsGrid_AutoProductName()) {
		case 0:
		    $_classNameSingleLine = '';
		    break;
		default:
		    $_classNameSingleLine = 'em-productname-single-line';
		    break;
	    }
	    ?>
	    <?php if ($_collectionSize > 0): ?>
	        <div id="em-grid-mode">       
	    	<ul class="emcatalog-grid-mode products-grid  <?php echo $_classHoverEffect ?>">
			<?php
			$i = 0;
			foreach ($_productCollection as $_product):
			    ?>   
			    <li class="item<?php echo $i == 0 ? ' first' : ''; ?><?php echo $i + 1 == $_collectionSize ? ' last' : ''; ?>">
				<div class="product-item">
				    <div class="product-shop-top">
					<!-- Show Thumbnail -->
					<?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowThumbnail()): ?>
		    			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image loading-process">
						<?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowLabel()): ?>
						    <!--show label product - label extension is required-->
						    <?php Mage::helper('productlabels')->display($_product); ?>
						<?php endif; ?>

						<?php if ($altImgGrid): ?>
						    <img class="em-img-lazy img-responsive em-alt-hover" src="<?php echo $this->getSkinUrl('images/loading.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, $altImgGrid)->resize($_wImgGrid, $_hImgGrid); ?>" width="<?php echo $_wImgGrid ?>" height="<?php echo $_hImgGrid ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, $altImgGrid), null, true) ?>" />
						<?php endif; ?>
		    			    <img id="product-collection-image-<?php echo $_product->getId(); ?>" class="em-img-lazy img-responsive <?php if ($altImgGrid): ?>em-alt-org<?php endif ?>" src="<?php echo $this->getSkinUrl('images/loading.gif') ?>" data-original="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_wImgGrid, $_hImgGrid); ?>" width="<?php echo $_wImgGrid ?>" height="<?php echo $_hImgGrid ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><span class="bkg-hover"></span>                                                    
		    			</a>
					<?php else: ?>
					    <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowLabel()): ?>
						<!--show label product - label extension is required-->
						<?php Mage::helper('productlabels')->display($_product); ?>
					    <?php endif; ?>
					<?php endif; ?>
				    </div>

				    <div class="product-shop">
					<div itemscope itemtype="http://schema.org/Product" class="f-fix">
					    <!--product name-->
					    <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowProductName()): ?>					
		    			    <h2 itemprop="name" class="active-desktop product-name <?php echo $_classAlignCenter ?> <?php echo $_classNameSingleLine ?> <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowProductName() == 2): ?>em-element-display-hover<?php endif; ?>"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
							<?php
							$string = $_helper->productAttribute($_product, $_product->getName(), 'name');
							$remainder = '';
							echo Mage::helper('core/string')->truncate($string, 48, '...', $remainder, true);
							?>
		    				</a></h2>
		    				<h2 itemprop="name" class="active-mobile product-name <?php echo $_classAlignCenter ?> <?php echo $_classNameSingleLine ?> <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowProductName() == 2): ?>em-element-display-hover<?php endif; ?>"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
							<?php
							echo $_helper->productAttribute($_product, $_product->getName(), 'name');
							?>
		    				</a></h2>
						<?php
						// Provides extra blocks on which to hang some features for products in the list
						// Features providing UI elements targeting this block will display directly below the product name
						if ($this->getChild('name.after')) {
						    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
						    foreach ($_nameAfterChildren as $_nameAfterChildName) {
							$_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
							$_nameAfterChild->setProduct($_product);
							echo $_nameAfterChild->toHtml();
						    }
						}
						?>
					    <?php endif; ?>

					    <div class="wrapper-price-review">
						<!--show reviews-->
						<?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowReviews()): ?>
						    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>                                       
						<?php endif; ?>

						<!--product price-->
						<?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowPrice()): ?>
						    <?php echo $this->getPriceHtml($_product, true) ?>
						<?php endif; ?>                                       

					    </div>

					    <!--product description-->
					    <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowDesc()): ?>
		    			    <div class="desc std <?php echo $_classAlignCenter ?> <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowDesc() == 2): ?>em-element-display-hover<?php endif; ?>">
						    <?php
						    $shortdes = $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description');
						    if (strlen($shortdes) > 100) { //dem ki tu chuoi $str, 80 la chieu dai muon quy dinh
							$strCutTitle = substr($shortdes, 0, 57); //cat 80 ki tu dau
							$shortdes = substr($strCutTitle, 0, strrpos($strCutTitle, ' '));
							$shortdes = substr_replace($shortdes, "...", -3);
						    }
						    echo $this->stripTags($shortdes, null, true);
						    ?>
		    			    </div>
					    <?php endif; ?>

					    <div class="bottom">
					    <div class="prepare_data" style="display: none;">
					    	<p class="prepare_img"><?php echo $_product->getImageUrl(); ?></p>
					    	<p class="prepare_title"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></p>
					    	<p class="prepare_link"><?php echo $_product->getProductUrl(); ?></p>
					    </div>
						<?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowAddtocart()): ?>
		    				<div class="em-btn-addto <?php echo $_classAlignCenter ?> <?php if (Mage::helper('themeframework/settings')->getProductsGrid_ShowAddtocart() == 2): ?>em-element-display-hover<?php endif; ?>">
							<?php if ($_product->isSaleable()): ?>
							    <!--show button add to cart-->                                            
							    <a href="#openModal<?php echo $_product->getId(); ?>" type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
							                                                
							<?php else: ?>
								<?php $currentCatIds = $_product->getCategoryIds(); ?>
							    <?php if (in_array(1840, $currentCatIds)): ?>
								<p class="availability out-of-stock" style="padding: 6px"><span><?php echo $this->helper('catalog')->__('Coming Soon') ?></span><br>
									<span><?php echo $this->helper('catalog')->__('Join the Waitlist ') ?></span></p>
						    	<?php else: ?>
						    	<p class="availability out-of-stock"><span><?php echo $this->__('Sold Out') ?></span></p>
						    	<?php endif ?>
							<?php endif; ?>

		    				    <!--show button add to compare-wishlist-->                                         
		    				    <ul class="add-to-links">
							    <?php if ($this->helper('wishlist')->isAllow()) : ?>
								<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
							    <?php endif; ?>
							    <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
								<li><a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
							    <?php endif; ?>
		    				    </ul>
		    				</div>
		    				
						<?php endif; ?>
						
						<?php if (Mage::helper('core')->isModuleEnabled('EM_Quickshop') && Mage::helper('quickshop')->getConfig('enable')): ?>
		    				<div class="quickshop-link-container">
		    				    <a href="<?php echo Mage::helper('quickshop/links')->addQuickShopLink($_product->getProductUrl()); ?>" class="quickshop-link" title="<?php echo $this->__('Quickshop') ?>"><?php echo $this->__('Quickshop') ?></a>
		    				</div>
						<?php endif; ?>
					    </div> 
					                                          					
					</div>
				    </div>
				</div> 
			    </li>   
			    <?php $i++; ?>
			    <?php if ($i >= $_collectionSize) break; ?>
			<?php endforeach; ?>
	    	</ul>
	        </div>
	    <?php endif; ?>
	    <?php
	    if (Mage::helper('themeframework/settings')->getGeneral_DisableResponsive(1) != 0) {
		switch ($_pageLayout) {
		    case 3:
			$_columnCountDesktop = Mage::helper('themeframework/settings')->getProductsGrid_Threecolumns(3);
			$_columnCountDesktopSmall = Mage::helper('themeframework/settings')->getProductsGrid_DesktopSmallThreecolumns(3);
			$_columnCountTablet = Mage::helper('themeframework/settings')->getProductsGrid_TabletThreecolumns(3);
			break;
		    case 1:
			$_columnCountDesktop = Mage::helper('themeframework/settings')->getProductsGrid_Onecolumn(5);
			$_columnCountDesktopSmall = Mage::helper('themeframework/settings')->getProductsGrid_DesktopSmallOnecolumn(5);
			$_columnCountTablet = Mage::helper('themeframework/settings')->getProductsGrid_TabletOnecolumn(5);
			break;
		    default:
			$_columnCountDesktop = Mage::helper('themeframework/settings')->getProductsGrid_Twocolumns(4);
			$_columnCountDesktopSmall = Mage::helper('themeframework/settings')->getProductsGrid_DesktopSmallTwocolumns(4);
			$_columnCountTablet = Mage::helper('themeframework/settings')->getProductsGrid_TabletTwocolumns(4);
			break;
		}
		$_columnCountMobile = Mage::helper('themeframework/settings')->getProductsGrid_ItemsMobile(3);
	    } else {
		switch ($_pageLayout) {
		    case 3:
			$_columnCountDesktop = Mage::helper('themeframework/settings')->getProductsGrid_Threecolumns(3);
			break;
		    case 1:
			$_columnCountDesktop = Mage::helper('themeframework/settings')->getProductsGrid_Onecolumn(5);
			break;
		    default:
			$_columnCountDesktop = Mage::helper('themeframework/settings')->getProductsGrid_Twocolumns(4);
			break;
		}
	    }
	    ?>
	    <script type="text/javascript">
	        (function ($) {
	            if (typeof EM == 'undefined')
	                EM = {};
	            if (typeof EM.SETTING == 'undefined')
	                EM.SETTING = {};

	            function setColumnCountGridMode() {
	                var wWin = $(window).width();
	                if (EM.SETTING.DISABLE_RESPONSIVE == 1) {
	                    var sDesktop = 'emcatalog-desktop-';
	                    var sDesktopSmall = 'emcatalog-desktop-small-';
	                    var sTablet = 'emcatalog-tablet-';
	                    var sMobile = 'emcatalog-mobile-';
	                    var sGrid = $('#em-grid-mode');
	                    if (wWin > 1200) {
	                        sGrid.removeClass().addClass(sDesktop + '<?php echo $_columnCountDesktop ?>');
	                    } else {
	                        if (wWin <= 1200 && wWin > 768) {
	                            sGrid.removeClass().addClass(sDesktopSmall + '<?php echo $_columnCountDesktopSmall ?>');
	                        } else {
	                            if (wWin <= 768 && wWin > 480) {
	                                sGrid.removeClass().addClass(sTablet + '<?php echo $_columnCountTablet ?>');
	                            } else {
	                                sGrid.removeClass().addClass(sMobile + '<?php echo $_columnCountMobile ?>');
	                            }
	                        }
	                    }
	                } else {
	                    var sDesktop = 'emcatalog-desktop-';
	                    var sGrid = $('#em-grid-mode');
	                    sGrid.removeClass().addClass(sDesktop + '<?php echo $_columnCountDesktop ?>');
	                }

	            }
	            ;

	            //Ready Function
	            $(document).ready(function () {
	                setColumnCountGridMode();
	            });
	            $(window).resize($.throttle(300, function () {
	                setColumnCountGridMode();
	            }));
	        })(jQuery);
	    </script>
	<?php endif; ?>

        <div class="toolbar-bottom em-box-03">
	    <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>

    <script type="text/javascript">
    //<![CDATA[
        (function ($) {
            $(function () {
                $_img = $('.category-products').find('img.em-img-lazy');
                if ($_img.length) {
                    $_img.one("inview", function () {
                        var $this = $(this);
                        $this.attr("src", $this.attr("data-original"));
                        // Remove it from the set of matching elements in order to avoid that the handler gets re-executed
                        $this.removeAttr("data-original");
                        if ($(this).attr("src").indexOf('loading.gif') == -1) {
                            $(this).removeClass("em-img-lazy").addClass('em-lazy-loaded');
                            if ($(this).parent('.product-image').hasClass('loading-process')) {
                                $(this).parent('.product-image').removeClass('loading-process');
                            }

                        }
                    });
                }
                $('.em-btn-addto a.button.btn-cart').on('click', function () {
			        $('body').addClass('open-popup');
			    });
                $('.alert_product a.close').on('click', function () {
			        $('body').removeClass('open-popup');
			    });
            });

        })(jQuery);
    //]]>
    </script>

<?php endif; ?>
<!--  colorswatch -->
<?php
// Provides a block where additional page components may be attached, primarily good for in-page JavaScript
if ($this->getChild('after')) {
    $_afterChildren = $this->getChild('after')->getSortedChildren();
    foreach ($_afterChildren as $_afterChildName) {
	$_afterChild = $this->getChild('after')->getChild($_afterChildName);
	//set product collection on after blocks
	$_afterChild->setProductCollection($_productCollection);
	echo $_afterChild->toHtml();
    }
}
?>
<style type="text/css">
.new-target {
    opacity: 1;
    pointer-events: auto;
}
p.alert_product_button_cnt {
	padding: 10px 7px;
    display: inline-block;
    border: 1px solid #ddd;
    cursor: pointer;
}
p.alert_product_button_cnt:hover {
	color: #428bca;
}
@media only screen and (max-device-width: 767px) {
	p.alert_product_button_cnt {
		padding: 7px 2px;
    	font-size: 12px;
    	border: 1px solid #ddd;
    	cursor: pointer;
	}
}
</style>
<div id="openModal_cus" class="modalDialog alert_product"><div class="modal-body-inner"><div id="product" class="alert_product"><div class="alert_product_title"> <a href="#close" title="Close" class="close">x</a> Item has been added to your cart</div><div class="alert_product_detail"><div class="special_product_img"><div class="product-shop-top">
<a href="" title="" class="product-image"><img src="" width="100%"/></a>
</div></div><div class="alert_product_fgc_name_product"><h2 itemprop="name" class="product-name   "><a href="" title=""></a></h2></div></div><div style="clear: both;"></div><div class="alert_product_button"> <p class="alert_product_button_cnt">Continue Shopping</p> <a href="/checkout/cart" class="alert_product_button_vcart">View My Cart</a> <a href="/checkout/onepage/?___SID=S" class="alert_product_button_check">Checkout Now</a></div></div></div></div>

<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('.em-btn-addto a.button.btn-cart').each(function() {
			var x = jQuery(this);
			x.on('click',function() {
				jQuery('#openModal_cus').addClass('new-target');
				jQuery('#openModal_cus .product-image img').attr('src',x.parent().parent().find('.prepare_data .prepare_img').html());
				jQuery('#openModal_cus .product-shop-top a').attr('href',x.parent().parent().find('.prepare_data .prepare_link').html());
				jQuery('#openModal_cus .product-name a').attr('href',x.parent().parent().find('.prepare_data .prepare_link').html());
				jQuery('#openModal_cus .product-name a').html(x.parent().parent().find('.prepare_data .prepare_title').html());
			});	
		});	
		jQuery('.alert_product a.close').on('click', function () {
			jQuery('#openModal_cus').removeClass('new-target');
			jQuery('body').removeClass('open-popup');
		});
		jQuery('p.alert_product_button_cnt').on('click', function () {
			jQuery('#openModal_cus').removeClass('new-target');
			jQuery('body').removeClass('open-popup');
		});
	});
</script>
